@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply selection:bg-accent selection:text-accent-foreground;
  }
  ::-webkit-scrollbar {
    @apply h-0.5 w-0.5 border-0;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-ring/20;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  :root {
    --background: 189 20% 8%;
    --foreground: 189 20% 96%;
    --card: 190 20% 10%;
    --card-foreground: 190 20% 94%;
    --muted: 180 10% 15%;
    --muted-foreground: 180 10% 82%;

    --primary: 70 100% 60%;
    --primary-foreground: var(--background);
    --secondary: 120 60% 15%;
    --secondary-foreground: var(--foreground);
    --accent: 85 90% 55%;
    --accent-foreground: var(--background);

    --border: var(--foreground);
    --ring: var(--muted-foreground);

    --destructive: 5 80% 40%;
    --destructive-foreground: 0 0% 90%;

    --radius: 0.5rem;

    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.5rem;
    --text-3xl: 1.875rem;
    --text-4xl: 2.25rem;
    --text-5xl: 3rem;
    --text-6xl: 3.75rem;
    --text-7xl: 4.5rem;

    --font-size-offset: 1;
    --line-ht: var(--font-size-offset) * 2;
  }
  /* Change theme */
  .dark {
    --background: 240 10% 4%;
    --foreground: 0 0% 96%;
    --card: 240 10% 5%;
    --card-foreground: 0 0% 92%;
    --muted: 240 5% 10%;
    --muted-foreground: 240 5% 75%;

    --primary: 240 4% 95%;
    --primary-foreground: var(--background);
    --secondary: 240 4% 20%;
    --secondary-foreground: var(--foreground);
    --accent: 240 2% 80%;
    --accent-foreground: var(--background);
  }
  .light {
    --background: 0 0% 98%;
    --foreground: 222.2 84% 5%;
    --card: 0 0% 96%;
    --card-foreground: 222.2 84% 7%;
    --muted: 240 5% 90%;
    --muted-foreground: 240 5% 25%;

    --primary: 222 80% 5%;
    --primary-foreground: var(--background);
    --secondary: 0 0% 80%;
    --secondary-foreground: var(--foreground);
    --accent: 222 60% 10%;
    --accent-foreground: var(--background);
  }
  .green {
    --background: 110 16% 95%;
    --foreground: 195 50% 6%;
    --card: 110 10% 93%;
    --card-foreground: 195 50% 10%;
    --muted: 0 2% 88%;
    --muted-foreground: 190 30% 25%;

    --primary: 100 100% 25%;
    --primary-foreground: var(--background);
    --secondary: 90 50% 70%;
    --secondary-foreground: var(--foreground);
    --accent: 130 30% 60%;
    --accent-foreground: var(--foreground);
  }
  .synthwave {
    --background: 310 20% 10%;
    --foreground: 330 50% 96%;
    --card: 320 40% 12%;
    --card-foreground: 330 50% 94%;
    --muted: 160 5% 16%;
    --muted-foreground: 160 10% 70%;

    --primary: 338 100% 50%;
    --primary-foreground: var(--foreground);
    --secondary: 55 100% 55%;
    --secondary-foreground: var(--background);
    --accent: 170 100% 50%;
    --accent-foreground: var(--background);
  }
  .warm {
    --background: 50 30% 94%;
    --foreground: 50 40% 6%;
    --card: 50 35% 92%;
    --card-foreground: 50 40% 10%;
    --muted: 45 20% 90%;
    --muted-foreground: 50 10% 26%;

    --primary: 48 100% 45%;
    --primary-foreground: var(--foreground);
    --secondary: 111 10% 65%;
    --secondary-foreground: var(--foreground);
    --accent: 57 85% 50%;
    --accent-foreground: var(--foreground);
  }
  .modern {
    --background: 200 10% 10%;
    --foreground: 240 5% 96%;
    --card: 200 10% 12%;
    --card-foreground: 240 6% 94%;
    --muted: 0 0% 16%;
    --muted-foreground: 0 0% 70%;

    --primary: 14 100% 50%;
    --primary-foreground: var(--background);
    --secondary: 55 100% 45%;
    --secondary-foreground: var(--background);
    --accent: 343 100% 45%;
    --accent-foreground: var(--foreground);
  }

  /* Change de font size */
  .font-smaller {
    --font-size-offset: 0.8;
  }
  .font-small {
    --font-size-offset: 0.9;
  }
  .font-regular {
    --font-size-offset: 1;
  }
  .font-large {
    --font-size-offset: 1.1;
  }
  .font-larger {
    --font-size-offset: 1.2;
  }
  /* Change radius */
  .radius-none {
    --radius: -0.5rem;
  }
  .radius-small {
    --radius: 0.5rem;
  }
  .radius-normal {
    --radius: 0.75rem;
  }
  .radius-large {
    --radius: 1rem;
  }
  .radius-round {
    --radius: 1.4rem;
  }
}

@layer utilities {
  .dropdown {
    @apply hidden transition duration-75 ease-in;
  }
  .dropdown-visible {
    @apply !flex flex-col duration-200 ease-out;
  }
  .tab-indicator {
    @apply after:absolute after:inset-x-4 after:-bottom-1 after:h-0.5 after:rounded-lg after:bg-accent after:shadow after:shadow-accent/20;
  }
  .htmx-indicator {
    @apply hidden;
  }
  .htmx-request .htmx-indicator {
    @apply block;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 0s 600000s,
    color 0s 600000s;
}
